[submodule "test_models/pytorch-openpose"]
	path = test_models/pytorch-openpose
	url = https://github.com/Hzzone/pytorch-openpose
[submodule "test_models/yolov5"]
	path = test_models/yolov5
	url = https://github.com/ultralytics/yolov5.git
[submodule "test_models/graph-convnet-tsp"]
	path = test_models/graph-convnet-tsp
	url = https://github.com/chaitjo/graph-convnet-tsp.git
