name: CI

on:
  push:
    branches:
      - main
      - development
  pull_request:
    branches:
      - main
      - development
      - release/*
    types: [opened, synchronize, reopened, ready_for_review]
  workflow_dispatch:
env:
  POETRY_VERSION: '1.2.1'
  PYTHON_VERSION: '3.8'
jobs:
  foxai:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v3
      - uses: "./.github/actions/build-module"
        with:
          moduleName: "src"
