name: CI

on:
  push:
    branches:
      - main
      - development
  pull_request:
    branches:
      - main
      - development
      - release/*
    types: [opened, synchronize, reopened, ready_for_review]
  workflow_dispatch:
env:
  POETRY_VERSION: '1.4.2'
  PYTHON_VERSION: '3.8'
jobs:
  foxai:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v3
      - uses: "./.github/actions/build-module"
        with:
          moduleName: "src"
        env:
          PYTHON_VERSION: "3.8"
          TORCH_VERSION: "2.0.1 torchvision torchaudio --index-url https://download.pytorch.org/whl/cpu"
          PANDAS_VERSION: "2.0.0"
          PYTORCH_LIGHTNING_VERSION: "2.0.7"
