name: PR Installation test

on:
  push:
    branches:
    - main

jobs:
  foxai:
    name: Install FoxAI
    strategy:
      fail-fast: false
      matrix:
        pandas_version: ["2.0.0"]
        cuda_version: ["11.7.1"]
        python_version: ["3.8", "3.9", "3.10"]
        torch_version: ["2.0.1"]
        pytorch_lightning_version: ["2.0.7"]
    uses: ./.github/workflows/installation_test_called_workflow.yaml
    with:
      cuda_version: ${{ matrix.cuda_version }}
      python_version: ${{ matrix.python_version }}
      pandas_version: ${{ matrix.pandas_version }}
      torch_version: ${{ matrix.torch_version }}
      pytorch_lightning_version: ${{ matrix.pytorch_lightning_version }}
