name: "Pull Request Docs Check"
on:
- pull_request

jobs:
  docs:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1
    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: ${{ env.PYTHON_VERSION }}
    - name: Install dependencies
      run: python -m pip install Sphinx==5.3.0 sphinx_rtd_theme==1.1.1
    - name: Build docs
      run: sphinx-apidoc -o docs/source autoxai && cd docs && make html
    - name: Compress production artifacts
      run: tar -czvf docs/build/html.tar.gz docs/build/html/
    - name: Archive production artifacts
      uses: actions/upload-artifact@v3
      with:
        name: sphinx-docs
        path: docs/build/html.tar.gz
        retention-days: 7
